nav,a{
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: orangered;
  position: relative;
 }

.btnstyle{
  color: black;
  background-color: lightskyblue;
}

button:disabled {
  background-color: lightgrey;
}

img{
  height: 45px;
}
