@import 'src/app/reporting-bugs/report-listof-bugs/report-listof-bugs.component.scss';

.titlestyle{
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: orangered;
  position: relative;
 }
