<form [formGroup]= "form">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-brand" href="#"><img src="assets/logo.png"> Bugs Inserting Form </div>
  </nav>


  <div class= 'mt-5' >      <label>Bug Short</label>
  <br>
  <input class="col-sm-2"  formControlName="title" type="text">
  <div *ngIf="form.get('title').invalid && form.get('title').pristine"class="text-danger">
    Field is required
  </div>
  </div>

  <div class= 'mt-3'>      <label>Bug Description</label>
  <br>
  <input class="col-sm-2" formControlName="description" type="text">
  <div *ngIf="form.get('description').invalid && form.get('description').pristine"class="text-danger">
    Field is required
  </div>
  </div>

  <div class= 'mt-5'> <label class="col-sm-1">Priority</label>
    <select class="col-sm-1" formControlName="priority" type="text">
      <option value="1">Minor</option>
      <option value="2">Major</option>
      <option value="3">Critical</option>
    </select>
    <div *ngIf="form.get('priority').invalid && form.get('priority').pristine"class="text-danger">
      Field is required
    </div>
  <div class= 'mt-3'> <label class="col-sm-1">Reporter</label>
    <select class="col-sm-1" formControlName="reporter" type="text">
      <option value="QA">QA</option>
      <option value="PO">PO</option>
      <option value="DEV">DEV</option>
    </select>
    <div *ngIf="form.get('reporter').invalid && form.get('reporter').pristine"class="text-danger">
      Field is required
    </div>
  </div>
  <div class= 'mt-3'> <label class="col-sm-1">Status</label>
    <select class="col-sm-1" formControlName="status" type="text">
      <option value="Ready for test">Ready for test</option>
      <option value="Done">Done</option>
      <option value="Rejected">Rejected</option>
    </select>
    <div *ngIf="form.get('status').invalid && form.get('status').pristine"class="text-danger">
      Field is required
    </div>
   </div>
  </div>

   <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12" style="text-align: right;" >
            <button class = "btn btnstyle" (click)="submit()"> Submit </button>
            <button class = "btn btnstyle" (click)="back()"> Cancel </button>
          </div>
      </div>
    </div>

</form>
